$black: #000;
$lightBlue: #77C7CE;
$lightGray: #efefef;
$lucid: transparent;
$orangeRed: #E84B1E;
$white: #fff;

$imagesPath: "../images";

$tiny: 530px;
$small: 800px;
$medium: 1092px;
$large: 1130px;
$huge:  1330px;