@font-face {
  font-family: "Lato";
  src: url("../webfonts/Lato-Reg.eot");
  src: url("../webfonts/Lato-Reg.eot?iefix") format("embedded-opentype"),
       url("../webfonts/Lato-Reg.woff") format("woff"),
       url("../webfonts/Lato-Reg.ttf") format("truetype"),
       url("../webfonts/Lato-Reg.svg#48e70b8825d557df57af3e4f7d4c31be") format("svg");

  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../webfonts/Lato-Bol.eot");
  src: url("../webfonts/Lato-Bol.eot?iefix") format("embedded-opentype"),
       url("../webfonts/Lato-Bol.woff") format("woff"),
       url("../webfonts/Lato-Bol.ttf") format("truetype"),
       url("../webfonts/Lato-Bol.svg#eea591db52cf6ebc8992abb7621b9256") format("svg");

  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Lato";
  src: url("../webfonts/Lato-BolIta.eot");
  src: url("../webfonts/Lato-BolIta.eot?iefix") format("embedded-opentype"),
       url("../webfonts/Lato-BolIta.woff") format("woff"),
       url("../webfonts/Lato-BolIta.ttf") format("truetype"),
       url("../webfonts/Lato-BolIta.svg#030f5996dac0d7b15fbd4081adedf95b") format("svg");

  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Aleo";
  src: url("../webfonts/Aleo-Reg.eot");
  src: url("../webfonts/Aleo-Reg.eot?iefix") format("embedded-opentype"),
       url("../webfonts/Aleo-Reg.woff") format("woff"),
       url("../webfonts/Aleo-Reg.ttf") format("truetype"),
       url("../webfonts/Aleo-Reg.svg#2a06578e352ec0eaf941819fd2998aaf") format("svg");

  font-style: normal;
  font-weight: normal;
}