@font-face {
  font-family: 'aleoregular';
  src: url('../webfonts/aleo-regular-webfont.eot');
  src: url('../webfonts/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/aleo-regular-webfont.woff') format('woff'),
       url('../webfonts/aleo-regular-webfont.ttf') format('truetype'),
       url('../webfonts/aleo-regular-webfont.svg#aleoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url('../webfonts/lato-bol-webfont.eot');
  src: url('../webfonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/lato-bol-webfont.woff') format('woff'),
       url('../webfonts/lato-bol-webfont.ttf') format('truetype'),
       url('../webfonts/lato-bol-webfont.svg#latobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobolditalic';
  src: url('../webfonts/lato-bolita-webfont.eot');
  src: url('../webfonts/lato-bolita-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/lato-bolita-webfont.woff') format('woff'),
       url('../webfonts/lato-bolita-webfont.ttf') format('truetype'),
       url('../webfonts/lato-bolita-webfont.svg#latobold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url('../webfonts/lato-reg-webfont.eot');
  src: url('../webfonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/lato-reg-webfont.woff') format('woff'),
       url('../webfonts/lato-reg-webfont.ttf') format('truetype'),
       url('../webfonts/lato-reg-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}