.NavMain {}

.NavMain-items {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	background-color: $white;
	-webkit-box-shadow: 0 1px 2px rgba(#000, .15);
	-moz-box-shadow: 0 1px 2px rgba(#000, .15);
	box-shadow: 0 1px 2px rgba(#000, .15);
	@include transform(translateY(-100%));
	@include transition(all .3s ease);
}

.NavMain-item {

	> a {
		display: block;
		height: 4em; /* 72 / 18 */
		padding-left: 6em;	
		border-bottom: 1px solid rgba($lightBlue, .25);
		font: 1.125em/4em "latoregular", sans-serif; /* 18 / 16, 72 / 18 */
		text-transform: lowercase;
		color: $lightBlue;
		text-decoration: none;
		@include transition(all .3s ease);
	}

	&:last-child {
		> a {
			border: none;
		}
	}
}

.NavMain-item--isCurrent {
	> a {
		background: $orangeRed;
		color: $white;
	}
}

.NavMain-toggle {
	position: fixed;
	z-index: 15;
	top: 0;
	left: 0;
	width: 4.5em; /* 72 / 16 */
	height: 4.5em; /* 48 / 16 */
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;

	> i {
		position: absolute;
		width: 50%;
		height: 0.375em; /* 6 / 16 */
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		background: $white;
		@include transition(all .3s ease);

		&:first-child {
			@include transform(translateY(-0.75em)); /* 12 / 16 */
		}

		&:last-child {
			@include transform(translateY(0.75em)); /* 12 / 16 */
		}
	}
}

.NavMain-toggle--isAlt {
	> i {
		background: $white !important;
	}
}

.NavMain--isToggled {
	.NavMain-items {
		@include transform(translateY(0));
	}

	.NavMain-toggle {
		> i {
			background: $lightBlue;

			&:first-child,
			&:last-child {
				@include transform(translateY(0));
			}
		}
	}
}

@media only screen and (min-width: 45em) { /* 720 / 16 */
	.NavMain-item {
		display: inline-block;
		margin-right: -0.25em;

		> a {
			padding: 0 2em;
			border: none;
		}

		&:first-child {
			> a {
				padding-left: 6em;
			}
		}
	}
}