.Organization {
	text-align: center;
	max-width: 45em; /* 720 / 16 */
}

.Organization-email {
	display: block;
	font-size: 2.25em; /* 36 / 16 */
	font-family: "Aleo", sans-serif;
	margin: 72px 0 48px 0;
}

.Organization-email-at {
	margin: 0 12px;
}

.Organization-urls {
	margin-bottom: 4.5em; /* 72 / 16 */
}

.Organization-url {
	display: block;

	&:last-child {
		> a {
			border: none;
		}
	}
}

.Organization-url-link {
	display: block;
	padding: 1.5em 0; /* 24 / 16 */
	text-transform: uppercase;
	font-family: "Lato", sans-serif;
	border-bottom: 1px solid rgba($white, .25);
}

.Organization-copy {
	font-size: 0.75em; /* 12 / 16 */
}

@media only screen and (min-width: 30em) { /* 480 / 16 */
	.Organization-email {
		font-size: 4em; /* 64 / 16 */
	}
}

@media only screen and (min-width: 45em) { /* 720 / 16 */
	.Organization-url {
		display: inline-block;
		margin: 0.75em; /* 12 / 16 */

		&:last-child {
			> a {
				border-bottom: 1px solid rgba($white, .25);
			}
		}
	}

	.Organization-url-link {
		padding-bottom: 0.75em; /* 12 / 16 */
	}
}